Podfile.lock
FMDBHelper.xcworkspace/contents.xcworkspacedata
FMDBHelper.xcworkspace/xcshareddata/FMDBHelper.xccheckout
FMDBHelper.xcworkspace/xcuserdata/tcyx.xcuserdatad/UserInterfaceState.xcuserstate
